<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MonoOvens</title>

   


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        
        @*<link href="~/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@

        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @* data table css*@
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />

    <link href="~/lib/bootstrap-4.3.1-dist/css/responsive.bootstrap.min.css" rel="stylesheet" />


    <style>

        /* this is  CSS for google ReCaptcha*/
        #g-recaptcha-response {
            display: block !important;
            position: absolute;
            margin: -78px 0 0 0 !important;
            width: 302px !important;
            height: 76px !important;
            z-index: -999999;
            opacity: 0;
        }


        /*   CSS for footer */
         .container_footer {
            width: 100%;
        }

         /* CSS for ul tag*/
        #menu ul {
            display: none;
            height: auto;
            padding: 0px;
            margin: 0px;
            border: 0px;
            position: absolute;
            width: 225px;
            z-index: 200;
        }

        /* when mouse hovers show all the unoder list part*/
        #menu li:hover > ul {
            display: block;
        }


        body {
    padding-top: 10px;
    padding-bottom: 20px;
}
    </style>


    @*google reCaptcha code.
    <script src='https://www.google.com/recaptcha/api.js'></script>*@
</head>
<body>
    <header>


        @*<nav class="navbar navbar-inverse navbar-fixed-top">*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">MonoOvens</a>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="nav navbar-nav" id="menu">


                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        @*<li>
            <a href="#" name="">Manage</a>
            <ul class="dropdown-menu">
                <li> <a asp-controller="User" asp-action="UsersList">Manage Users</a>                       </li>
                <li> <a asp-controller="Customer" asp-action="CustomersList">Manage Customers</a>               </li>
                <li> <a asp-controller="Dealer" asp-action="DealersList">Manage Dealers</a>                   </li>
                <li> <a asp-controller="Asset" asp-action="AssetsList">Manage Assets</a>                     </li>
                <li> <a asp-controller="ControllerModules" asp-action="ControllersList">Activate Controllers</a>  </li>
                <li> <a asp-controller="User" asp-action="UsersList">Manage Engineers</a>                   </li>
                <li> <a asp-controller="Clients" asp-action="ClientsList">Manage ClientAdministrator</a>       </li>
            </ul>
        </li>*@
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>
                                <a href="#" name="">Administrator Management</a>
                                <ul class="dropdown-menu">
                                    <li> <a asp-controller="User" asp-action="UsersList">Manage Users</a>                       </li>
                                    <li> <a asp-controller="Asset" asp-action="AssetsList">Manage Assets</a>                     </li>
                                    <li> <a asp-controller="ControllerModules" asp-action="ControllersList">Activate Controllers</a>  </li>
                                    <li> <a asp-controller="Importer" asp-action="ImporterList">Manage Importers</a>                   </li>
                                    <li> <a asp-controller="Dealer" asp-action="DealersList">Manage Dealers</a>                   </li>
                                    <li><a asp-controller="StoreGroup" asp-action="StoreGroupList">Manage StoreGroups</a></li>
                                    <li><a asp-controller="Store" asp-action="StoreList">Manage Stores</a></li>
                                    <li> <a asp-controller="Customer" asp-action="CustomersList">Manage Customers</a>               </li>

                                    @*<li> <a asp-controller="User" asp-action="UsersList">Manage Engineers</a>                   </li>
                    <li> <a asp-controller="Clients" asp-action="ClientsList">Manage ClientAdministrator</a>       </li>*@
                                </ul>
                            </li>
                        }

                        else if (User.IsInRole("Importer"))
                        {
                            <li>
                                <a href="#" name="">Importer Management</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Asset" asp-action="AssetsList">Manage Assets</a></li>
                                    <li><a asp-controller="ControllerModules" asp-action="ControllersList">Activate Controllers</a></li>
                                    <li><a asp-controller="Dealer" asp-action="DealersList">Manage Dealers</a></li>
                                    <li><a asp-controller="StoreGroup" asp-action="StoreGroupList">Manage StoreGroups</a></li>
                                    <li><a asp-controller="Store" asp-action="StoreList">Manage Stores</a></li>
                                    <li><a asp-controller="User" asp-action="CustomerList">Manage Customers</a></li>
                                </ul>
                            </li>
                        }

                        else if (User.IsInRole("Dealer"))
                        {
                            <li>
                                <a href="#" name="">Dealer Management</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Asset" asp-action="AssetsList">Manage Assets</a></li>
                                    <li><a asp-controller="ControllerModules" asp-action="ControllersList">Activate Controllers</a></li>
                                    <li><a asp-controller="StoreGroup" asp-action="StoreGroupList">Manage StoreGroups</a></li>
                                    <li><a asp-controller="Store" asp-action="StoreList">Manage Stores</a></li>
                                    <li><a asp-controller="User" asp-action="CustomerList">Manage Customers</a></li>
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("StoreGroup"))
                        {
                            <li>
                                <a href="#" name="">StoreGroup Management</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Asset" asp-action="AssetsList">Manage Assets</a></li>
                                    <li><a asp-controller="ControllerModules" asp-action="ControllersList">Activate Controllers</a></li>
                                    <li><a asp-controller="Store" asp-action="StoreList">Manage Stores</a></li>
                                    <li><a asp-controller="User" asp-action="CustomerList">Manage Customers</a></li>
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("Store"))
                        {
                            <li>
                                <a href="#" name="">Store Management</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Asset" asp-action="AssetsList">Manage Assets</a></li>
                                    <li><a asp-controller="ControllerModules" asp-action="ControllersList">Activate Controllers</a></li>
                                    <li><a asp-controller="User" asp-action="CustomerList">Manage Customers</a></li>
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("Editor"))
                        {
                            <li>
                                <a href="#" name="">Editor Management</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="User" asp-action="CustomerList">Manage Customers</a></li>
                                    <li><a asp-controller="Dealer" asp-action="DealersList">Manage Dealers</a></li>
                                    <li><a asp-controller="Asset" asp-action="AssetsList">Manage Assets</a></li>
                                    <li><a asp-controller="ControllerModules" asp-action="ControllersList">Activate Controllers</a></li>
                                    <li><a asp-controller="User" asp-action="UsersList">Manage Engineers</a></li>
                                    <li><a asp-controller="Clients" asp-action="ClientsList">Manage ClientAdministrator</a></li>
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("Engineer"))
                        {
                            <li>
                                <a href="#" name="">Engineer Management</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Clients" asp-action="ClientsList">Manage ClientAdministrator</a></li>
                                    <li><a asp-controller="ControllerModules" asp-action="ControllersList">Manage Controller Address</a></li>
                                </ul>
                            </li>
                        }

                        else if (User.IsInRole("ClientAdministrator"))
                        {
                            <li>
                                <a href="#" name="">ClientAdministrator Management</a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Clients" asp-action="ClientsList">Manage ClientAdministrator</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {

                        }
                        <li><a asp-controller="Report" asp-action="ReportList">View Reports</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    @*
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div>
                        <a href="#" class="text-info navbar-brand ">MonoOvens</a>

                    </div>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="menu" style="margin-left:5% ">
                        <li class="nav-item " [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                            <a class="nav-link text-info" href="/home" ]'>Home</a>
                        </li>

                        @if (User.IsInRole("Administrator"))
                        {
                            <li><a class="nav-link text-info" asp-controller="User" asp-action="UsersList">Manage Users</a></li>
                            <li><a class="nav-link text-info" asp-controller="User" asp-action="CustomerList">Manage Customers</a></li>
                            <li><a class="nav-link text-info" asp-controller="Dealer" asp-action="DealersList">Manage Dealers</a></li>
                            <li><a class="nav-link text-info" asp-controller="Asset" asp-action="AssetsList">Manage Assets</a></li>
                            <li><a class="nav-link text-info" asp-controller="ControllerModules" asp-action="ControllersList">Manage Controllers</a></li>
                            <li><a class="nav-link text-info" asp-controller="User" asp-action="EngineersList">Manage Engineers</a></li>
                            <li><a class="nav-link text-info" asp-controller="Clients" asp-action="ClientsList">Manage ClientAdministrator</a></li>

                        }

                        else if (User.IsInRole("Editor"))
                        {
                            <li><a class="nav-link text-info" asp-controller="User" asp-action="CustomerList">Manage Customers</a></li>
                            <li><a class="nav-link text-info" asp-controller="Dealer" asp-action="DealersList">Manage Dealers</a></li>
                            <li><a class="nav-link text-info" asp-controller="Asset" asp-action="AssetsList">Manage Assets</a></li>
                            <li><a class="nav-link text-info" asp-controller="ControllerModules" asp-action="ControllersList">Manage Controllers</a></li>
                            <li><a class="nav-link text-info" asp-controller="User" asp-action="EngineersList">Manage Engineers</a></li>
                            <li><a class="nav-link text-info" asp-controller="Clients" asp-action="ControllersList">Manage ClientAdministrator</a></li>
                        }

                        else if (User.IsInRole("Dealer"))
                        {
                            <li><a class="nav-link text-info" asp-controller="Clients" asp-action="ClientsList">Manage ClientAdministrator</a></li>
                            <li><a class="nav-link text-info" asp-controller="ControllerModules" asp-action="ClientsList">Manage Controller Address</a></li>
                        }

                        else if (User.IsInRole("Engineer"))
                        {
                            <li><a class="nav-link text-info" asp-controller="Clients" asp-action="ClientsList">Manage ClientAdministrator</a></li>
                            <li><a class="nav-link text-info" asp-controller="ControllerModules" asp-action="ClientsList">Manage Controller Address</a></li>
                        }
                        else if (User.IsInRole("ClientAdministrator"))
                        {
                            <li><a class="nav-link text-info" asp-controller="Clients" asp-action="ClientsList">Manage ClientAdministrator</a></li>

                        }

                        <li><a class="nav-link text-info" asp-controller="Report" asp-action="ReportList">View Reports</a></li>


                        <li class="nav-item" [routerLinkActive]='["link-active"]'>
                            <a class="nav-link text-info" href="/home/contact" ]'>Contact</a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    *@

    @*<div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Analytics</a></li>
                        <li><a href="#">Export</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Nav item</a></li>
                        <li><a href="">Nav item again</a></li>
                        <li><a href="">One more nav</a></li>
                        <li><a href="">Another nav item</a></li>
                        <li><a href="">More navigation</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Nav item again</a></li>
                        <li><a href="">One more nav</a></li>
                        <li><a href="">Another nav item</a></li>
                    </ul>
                </div>
            </div>
        </div>*@


    <partial name="_CookieConsentPartial" />


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>@RenderSection("footer", required: false)</p>
                <p>&copy; 2019 - MonoOvens</p>
            </footer>
        </div>*@
    <hr>
    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 2019 - MonoOvens</p>
            @*&copy; 2019 - MVC_testing - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="~/lib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @*integrity values*@

    @*
    1. sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT
    2. sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd*@

    @*this is a scrikpt for bootbox     link is https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js  *@
    <script src="~/lib/bootbox/bootbox.min.js"></script>

    @*this script is for data tables*@
    @*<script src="~/lib/datatables/js/dataTables.dataTables.min.js"></script>*@
    <script src="~/lib/datatables/datatables.min.js"></script>

    <script src=""></script>

    @RenderSection("Scripts", required: false)


</body>
</html>
