@model MonoOvens.Models.AssetMaster

@{
    ViewData["Title"] = "AssetDetails";
}

<h2>Asset Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.AssetCategory)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.AssetCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.FG_Code)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.FG_Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.AssetType)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.AssetType)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.ControllerType)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.ControllerType)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Controllers)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Controllers)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Trays)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Trays)
        </dd>
        <dt>
            Tray size
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.TraySize)
        </dd>
        @*<dd>
            @Html.DisplayFor(model => model.TrayHeight_inch)   &Chi;  @Html.DisplayFor(model => model.TrayWidth_inch)
        </dd>*@
    <dt>
        @Html.DisplayNameFor(Model => Model.Handed)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Handed)
    </dd>
    <dt>
        @Html.DisplayNameFor(Model => Model.Format)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Format)
    </dd>
    <dt>
        @Html.DisplayNameFor(Model => Model.Power)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Power)
    </dd>
    @*<dt>
        @Html.DisplayNameFor(Model => Model.Elements)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Elements)
    </dd>
    <dt>
        @Html.DisplayNameFor(Model => Model.kWh_Rating_Element)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.kWh_Rating_Element)
    </dd>
    <dt>
        @Html.DisplayNameFor(Model => Model.LightType)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.LightType)
    </dd>
    <dt>
        @Html.DisplayNameFor(Model => Model.Lights)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.Lights)
    </dd>
    <dt>
        @Html.DisplayNameFor(Model => Model.kWh_Rating_Light)
    </dt>
    <dd>
        @Html.DisplayFor(Model => Model.kWh_Rating_Light)
    </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Fans)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Fans)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kWh_Rating_Fan)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.kWh_Rating_Fan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kWh_Rating_Damper)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.kWh_Rating_Damper)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.kWh_Rating_WaterSolenoid)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.kWh_Rating_WaterSolenoid)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="EditAsset" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="AssetsList">Back to List</a>
</div>
