@model MonoOvens.Models.AssetMaster

@{
    ViewData["Title"] = "EditAsset";
}

    <h2>Edit Asset</h2>


<hr />
<div class="row">
    <div >
        <form asp-action="EditAsset">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="float:left ; padding-right:10px">
                <label>FG code</label>
                <input asp-for="FG_Code" class="form-control" />
                <span asp-validation-for="FG_Code" class="text-danger"></span>
            </div>
            <div class="alert-info" style="   float:left ; margin-top:27px  "><p>(this is description for fg code.)</p></div>
            <div class="form-group" style=" float:left ; padding-right:100px ; clear:left ">
                <label>Asset Category : </label>
                @*<input asp-for="AssetCategory" class="form-control" />*@
                <select asp-for="AssetCategory" class="form-control" onblur="check(1)"
                        asp-items="@(new SelectList(@ViewBag.ACateogiesedit, "Id" ,"AssetCategory" ) )" id="acategory" required>
                </select>
                <span asp-validation-for="AssetCategory" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:100px">
                <label>Asset Type : </label>
                <select asp-for="AssetType" class="form-control" onblur="check(2)"
                        asp-items="@(new SelectList(@ViewBag.ATypesedit,"Id" , "AssetType" ) ) " id="atype" required>
                </select>
                <span asp-validation-for="AssetType" class="text-danger"></span>
            </div>
            <div class="form-group" style="float:left ; padding-right:100px">
                <label>ControllerType: </label>
                <select asp-for="ControllerType" class="form-control" onblur="check(3)"
                        asp-items="@(new SelectList(@ViewBag.CTypesedit,"Id","ControllerType"))" id="ctype" required>
                </select>
                <span asp-validation-for="ControllerType" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:100px">
                <label>No. of Controllers : </label>
                <input asp-for="Controllers" class="form-control" />
                <span asp-validation-for="Controllers" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:100px">
                <label>No. of Trays : </label>
                <select asp-for="Trays" class="form-control">
                    <option value="">--Select--</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="4/5">4/5</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="10">10</option>
                </select>
                <span asp-validation-for="Trays" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:100px ">
                <label>Tray size : </label>
                <select class="form-control" asp-for="TraySize" id="height">
                    <option value="">--select--</option>
                    <option value="18” x 26”">18” x 26”</option>
                    <option value="18” x 30”">18” x 30”</option>
                    <option value="400mm x 600mm">400mm x 600mm</option>
                    <option value="600mm x 400mm">600mm x 400mm</option>
                    <option value="400mm x 800mm">400mm x 800mm</option>
                    <option value="600mm x 800mm">600mm x 800mm</option>
                </select>
                <span id="sizeError"></span>
                <span asp-validation-for="TraySize" class="text-danger"></span>
            </div>

            <div class="form-group" style=" float:left ; padding-right:100px">
                <label>Handed : </label>
                <select asp-for="Handed" class="form-control" required>
                    <option value="">--Select--</option>
                    <option value="Left-Handed">Left</option>
                    <option value="Right-Handed">Right</option>
                    <option value="Drop down">Drop down</option>
                    <option value="Universal">Universal</option>
                </select>
                <span asp-validation-for="Handed" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:100px">
                <label>Format : </label>
                <select asp-for="Format" class="form-control" required>
                    <option value="">--Select--</option>
                    <option value="Portrait ">Portrait </option>
                    <option value="Landscape">Landscape</option>
                </select>
                <span asp-validation-for="Format" class="text-danger"></span>
            </div>
            <div class="form-group" style=" float:left ; padding-right:100px">
                <label>Power : </label>
                <select asp-for="Power" class="form-control" required>
                    <option value="">--Select--</option>
                    <option value="Single-phase ">Single-Phase </option>
                    <option value="Three-phase">Three-Phase</option>
                </select>
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div style=" float:left ; padding-right:100px">
                    <label>No. of Elements: </label>
                    <select asp-for="Elements" class="form-control" required>
                        <option value="">--Select--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <span asp-validation-for="Elements" class="text-danger"></span>
                </div><br />
            </div>
            <div class="form-group">
                <div style=" float:left ; padding-right:100px">
                    <label>kW/h Rating per Element : </label>
                    <select asp-for="kWh_Rating_Element" class="form-control" required>
                        <option value="">--Select--</option>
                        <option value="7">7 kWh</option>
                        <option value="9">9 kWh</option>
                        <option value="8">8 kWh</option>
                        <option value="11">11 kWh</option>
                    </select>
                    <span asp-validation-for="kWh_Rating_Element" class="text-danger"></span>
                </div><br />
            </div>
            <div class="form-group">
                <div style=" float:left ; padding-right:100px">
                    <label>Type of Light : </label>
                    <select asp-for="LightType" class="form-control" required>
                        <option value="">--Select--</option>
                        <option value="Halogen">Halogen </option>
                        <option value="LED">LED</option>
                    </select>
                    <span asp-validation-for="LightType" class="text-danger"></span>
                </div><br />
            </div>
            <div class="form-group">
                <div style=" float:left ; padding-right:100px">
                    <label>No of Lights : </label>
                    <select asp-for="Lights" class="form-control" required>
                        <option value="">--Select--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                    </select>
                    <span asp-validation-for="Lights" class="text-danger"></span>
                </div><br />
            </div>
            <div class="form-group">
                <div style=" float:left ; padding-right:100px">
                    <label>kW/h Rating per Light : </label>
                    <select asp-for="kWh_Rating_Light" class="form-control" required>
                        <option value="">--Select--</option>
                        <option value="0.02">0.02 KWh(Halogen)</option>
                        <option value="0.0024">0.0024 KWh(LED)</option>
                    </select>
                    <span asp-validation-for="kWh_Rating_Light" class="text-danger"></span>
                </div><br />
            </div>
            <div class="form-group">
                <div style=" float:left ; padding-right:100px">
                    <label>No. of Fans : </label>
                    <select asp-for="Fans" class="form-control" required>
                        <option value="">--Select--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <span asp-validation-for="Fans" class="text-danger"></span>
                </div><br />
            </div>
            <div class="form-group">
                <div style=" float:left ; padding-right:100px">
                    <label>kW/h Rating per Fan : </label>
                    <select asp-for="kWh_Rating_Fan" class="form-control" required>
                        <option value="0.37">0.37 KWh</option>
                    </select>
                    <span asp-validation-for="kWh_Rating_Fan" class="text-danger"></span>
                </div><br />
            </div>
            <div class="form-group">
                <div style=" float:left ; padding-right:100px">
                    <label>kW/h Rating Damper : </label>
                    <select asp-for="kWh_Rating_Damper" class="form-control" required>
                        <option value="0">--Select--</option>
                    </select>
                    <span asp-validation-for="kWh_Rating_Damper" class="text-danger"></span>
                </div><br />
            </div>
            <div class="form-group">
                <div style=" float:left ; padding-right:100px">
                    <label>
                        kW/h Rating Water Solenoid :
                    </label>
                    <select asp-for="kWh_Rating_WaterSolenoid" class="form-control" required>
                        <option value="0.007">0.007 KWh</option>
                    </select>
                    <span asp-validation-for="kWh_Rating_WaterSolenoid" class="text-danger"></span>
                </div><br />
            </div>

            <div class="form-group" style=" clear:left" align="center">
                <input type="submit" value="Save" class="btn btn-info" id="subbtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AssetsList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var val;
        var id;
        function check(n) {
            if (n == 1) {
                id = $("acategory");
                val = $("#acategory option:selected").val();
            }
            else if (n == 2) {
                id = $("#atype");
                val = $("#atype option:selected").val();
            }
            else {
                id = $("#ctype");
                val = $("#ctype option:selected").val();
            }


            if (val == 0) {
                //  id.focus();

                $("#subbtn").attr("disabled", true);
            }
            else {
                $("#subbtn").attr("disabled", false);
            }
        }

        // to block the characters to be intered
        function cal(e) {
           //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#sizeError").html("Only Digits Allowed").show().fadeOut("slow");
                 e.preventDefault();
                    //  return false;
            }
        }
        

        $(document).ready(function () {
            
            $('#height').keypress(function (e) {
                cal(e);
            })
             $('#width').keypress(function (e) {
             cal(e);   
          });
        })
    </script>
}
