@model MonoOvens.Models.DealerMaster

@{
    ViewData["Title"] = "DealerDetails";
}

<h2> Dealer Details</h2>

<div>
   
    <hr />
    
    @*<table class="table-bordered">
        <tr>
            <td> @Html.DisplayNameFor(model => model.DealerName)</td>
            <td>@Html.DisplayFor(model => model.DealerName)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.DealerPhone)</td>
            <td>@Html.DisplayFor(model => model.DealerPhone)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.DealerRegion)</td>
            <td>@Html.DisplayFor(model => model.DealerRegion)</td>
        </tr>
    </table>*@
            @*<tr>
                <td> @Html.DisplayNameFor(model => model.DealerAddressLine1)</td>
                <td>@Html.DisplayFor(model => model.DealerAddressLine1)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.DealerAddressLine2)</td>
                <td>@Html.DisplayFor(model => model.DealerAddressLine2)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.DealerArea)</td>
                <td>@Html.DisplayFor(model => model.DealerArea)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.DealerCity)</td>
                <td>@Html.DisplayFor(model => model.DealerCity)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.DealerState)</td>
                <td>@Html.DisplayFor(model => model.DealerState)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.DealerCountry)</td>
                <td>@Html.DisplayFor(model => model.DealerCountry)</td>
            </tr>*@
            
      




       
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DealerName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DealerName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DealerPhone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DealerPhone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DealerRegion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DealerRegion)
            </dd>
            @*
        <dt>
            @Html.DisplayNameFor(model => model.DealerEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DealerEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DealerAddressLine1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DealerAddressLine1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DealerAddressLine2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DealerAddressLine2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DealerArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DealerArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DealerCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DealerCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DealerState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DealerState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DealerCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DealerCountry)
        </dd>*@
        </dl>
</div>
<div>
    <a asp-action="EditDealer" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="DealersList">Back to List</a>
</div>
