@model IEnumerable<MonoOvens.Models.DealerMaster>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DealerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealerAddressLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealerAddressLine2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealerArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealerCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealerState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealerCountry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DealerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealerAddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealerAddressLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealerArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealerCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealerState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealerCountry)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
