@model MonoOvens.Models.ClientMaster

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
@*<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimaryEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaryEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimaryContactName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaryContactName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimaryContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaryContactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientAddressLine1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientAddressLine1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientAddressLine2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientAddressLine2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientAddressLine3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientAddressLine3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomePostcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomePostcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Storecode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Storecode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StoreAddressLine1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoreAddressLine1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StoreAddressLine2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoreAddressLine2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostTown)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostTown)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StorePostcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StorePostcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DelearId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DelearId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClientId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>*@
